@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    /* ===== color mode hsl (hue, saturation, lightness 
        purple : hsl(250, 66%, 75%)
        blue: hsl(207, 90%, 72%)
        pink: hsl(356, 66%, 75%)
        blue: hsl(174, 63%, 62%)
    */

    /*========== Colors ==========*/
    --first-hue: 14;
    --sat: 100%;
    --light: 64%;
    --second-hue: 219;
    
    --first-color: hsl(var(--first-hue), var(--sat), var(--light));
    --first-color-alt: hsl(var(--first-hue), var(--sat), 60%);
    --title-color: hsl(var(--second-hue), 15%, 95%);
    --text-color: hsl(var(--second-hue), 8%, 75%) ;
    --text-color-light: hsl(var(--second-hue), 4%, 55%);
    --body-color: hsl(var(--second-hue), 48%, 8%);
    --container-color: hsl(var(--second-hue), 32%, 12%);

    --header-height: 3.5rem;

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semibold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    /*========== Margenes Bottom ==========*/
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
}


/*========== responsive typography ==========*/
@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 2.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

.container {
    display: flex;
    justify-content: center;
}

.main__container {
    width: 90%;
}

.todo-list__item {
    list-style-type: none;
}

.header {
    font-size: var(--biggest-font-size);
    text-align: center;
    padding: 2rem 0 1rem 0;
}

.message {
    font-size: var(--small-font-size);
    margin: .5rem  0 .5rem 0;
}

.form__container {
    padding: .4rem 0 .4rem 0;
    display: flex;
    flex-direction: column;
}

.form-input__container {
    display: flex;
    justify-content: center;
}

.form-input {
    margin-right: 1rem;
    width: 80%;
    border-radius: 1rem;
    height: 35px;
    padding: 0 1rem;
    outline: none;
    background-color: transparent;
    border-color: rgb(72, 82, 150);
}

.save__button {
    height: 35px;
    border-radius: 1rem;
    width: 20%;
    outline: none;
    background-color: transparent;
    color: var(--body-color);
    transition: .4s;
    border-color: rgba(0, 0, 0, 0.8);
}

.save__button:hover {
    background-color: rgb(72, 82, 150);
    color: #fff;
    border-color: transparent;
}

.cancel__button {
    border-radius: 1rem;
    outline: none;
    width: 20%;
    background-color: transparent;
    transition: .4s;
}

.cancel__button:hover {
    background-color:rgb(243, 45, 23);
    border-color: transparent;
    color: #fff;
}

.list-items__container {
    padding: 1rem;
}

.todo-list__item {
    display: grid;
    grid-template-columns: 5% 55% 20% 20%;
    gap: 5px;
    align-items: center;
    margin-bottom: 1rem;
}

.button-edit,
.button-delete {
    border-radius: 1rem;
    border-color: transparent;
    color: #fff;
}

.button-delete {
    background-color: rgb(243, 45, 23);
    transition: .4s;
}

.button-delete:hover {
    background-color: rgba(255, 0, 0, .8);
}

.button-edit {
    background-color: rgb(73, 188, 246);
    transition: .4s;
}

.button-edit:hover {
    background-color: rgb(73, 188, 246);
}

@media screen and (max-width: 320px) {
    .cancel__button {
        left: 6.2rem !important;
        width: 80px;
        font-size: var(--small-font-size);
    }

    .save__button {
        width: 70px;
    }

    .todo-list__item {
        display: grid;
        grid-template-columns: repeat(2, 100px);
        gap: 5px;
        align-items: center;
        margin-bottom: 1rem;
        font-size: var(--small-font-size);
    }
}

@media screen and (max-width: 576px){
    .form-input__container {
        display: flex;
        flex-direction: column;
        row-gap: .7rem;
    }

    .form-input {
        width: 100%;
    }

    .form__container {
        position: relative;
    }

    .button {
        font-size: var(--small-font-size);
    }

    .cancel__button {
        position: absolute;
        top: 8.5rem;
        height: 35px;
        width: 100px;
        left: 9.5rem;
        background-color: transparent;
        font-size: var(--small-font-size);
    }

    .save__button {
        font-size: var(--small-font-size);
    }

    .button {
        height: 30px;
    }
}

@media screen and (min-width:767px) {
    .form-input__container {
        gap: 0.3rem;
    }

    .save__button,
    .cancel__button {
        width: 25%;
    }
}
